<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{common/layout :: commonLayout(~{this::head}, ~{this::main})}">


<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<!-- 서머노트를 위해 추가해야할 부분 -->
	<script src="/summernote/summernote-lite.js"></script>
	<script src="/summernote/lang/summernote-ko-KR.js"></script>
	<script src="/summernote/my-summernote.js"></script>
	<link rel="stylesheet" href="/summernote/summernote-lite.css">
	<link rel="stylesheet" href="/css/common/reset.css">

	<link rel="stylesheet" href="/css/notice/detail.css">
	
	<script>
		function updateClicked(){
			var detail = document.querySelector(".detail-view");
			detail.style.display = "none";
			
			var update = document.querySelector(".update-view");
			update.style.display = "block";
		}
		function cancelClicked(){
			var detail = document.querySelector(".detail-view");
			detail.style.display = "flex";
			
			var update = document.querySelector(".update-view");
			update.style.display = "none";
		}
	</script>
</head>

<body>
	<main id="container">
		<div class="wrapper">
			<div class="detail-view" style="width:80%; display:flex; flex-direction: column;">
				<div style="height:5%;">
					<p class="title-font">공지사항</p>
				</div>

				<div class="wrapper2">
					<div class="dto_title" th:text="${dto.title}"></div>
					<div class="dto_created" th:text="작성일시 + ${dto.createdDate}">작성일시</div>
					<div class="dto_content" th:utext="${dto.content}"> </div>
				</div>
				<div >
					<button onclick="updateClicked()">수정</button>
					<button>삭제</button>
				</div>
			</div>
			
			<!-- ////////////////////////////////////////////////////// -->
			<!-- /////////////////수정화면 form///////////////////// -->
			<!-- ////////////////////////////////////////////////////// -->
			<form  th:action="@{|/notice/${dto.id}|}" method="post" class="update-view" style="width:90%; display:none;">
				<div style="height:5%;">
					<p class="title-font">공지사항</p>
				</div>

				<div style="height:90%;">
					<div class="dto_title">
						<input type="text" name="title" th:value="${dto.title}">
					</div>
					<div class="dto_created"  th:text="${dto.createdDate}">작성일시</div>
					<div class="dto_content" >
						<textarea id="summernote" name="content">[(${dto.content})]</textarea>
					</div>
					<div style="height:20%;">
					</div>
				</div>
				<div style="height:5%;">
					<input type="hidden" name="_method" value="put">
					<button type="submit">수정완료</button>
					<button type="button" onclick="cancelClicked()">취소</button>
				</div>
			</form>
			<!-- ////////////////////////////////////////////////////// -->
		</div>
	</main>

</body>

</html>