<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	th:replace="~{common/layout :: commonLayout(~{this::head}, ~{this::main})}">
	<head>
		<meta charset="UTF-8">
		<title>Insert title here</title>
		<link rel="stylesheet" href="/css/sign/common.css">
		<link rel="stylesheet" href="/css/employee/employeeEmail.css">
		<script src="/js/employee/employeeEmail.js"></script>
	</head>
	<body>
		<main>
			<div class="employee-email-container">
				
				<!--Email Head Container-->
				<div class="employee-email-head-container flex center-1 space-between fullWidth">
					<div class="employee-email-menu flex focus">
						<img src="/img/employee/email-storage-ico.svg" class="mail-ico">
						<span>전체 메일</span>
					</div>
					<div class="employee-email-menu flex blur">
						<img src="/img/employee/email-ico.svg" class="mail-ico">
						<span>받은 메일함</span>
					</div>
					<div class="employee-email-menu flex blur">
						<img src="/img/employee/email-send-ico.svg" class="mail-ico">
						<span>보낸 메일함</span>
					</div>
					<div class="employee-email-menu flex blur">
						<img src="/img/employee/email-important-ico.svg" class="mail-ico">
						<img src="/img/employee/email-important-fill-ico.svg" class="mail-ico hide">
						<span>중요 메일함</span>
					</div>
				</div>
				
				<!--Email Compostion and Search Container-->
				<div class="flex">
					<div class="employee-email-composition flex center-1 center-2">
						<img src="/img/employee/email-composition-ico.svg" class="mail-ico">
						<span>메일 쓰기</span>
					</div>
					<div class="employee-email-search">
						<img src="/img/employee/email-search-ico.svg">
						<input type="text" placeholder="메일 검색">
					</div>
				</div>
				
				<!--Email Body Container-->
				<div class="employee-email-body-container fullWidth">
					<div class="employee-email-list-head flex center-2">
						<input type="checkbox">
						<span>발신자</span>
						<span>제목</span>
						<span>날짜</span>
					</div>
					<div class="employee-email-list flex center-2">
						<input type="checkbox">
						<img src="/img/employee/email-important-ico.svg">
						<img src="/img/employee/email-important-fill-ico.svg" class="hide">
						<span>발신자</span>
						<span>제목</span>
						<span>날짜</span>
					</div>
				</div>
			</div>
		</main>
	</body>
</html>